@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* width */
::-webkit-scrollbar {
  width: 0px; /* Hide vertical scrollbar */
  height: 0px; /* Set height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 0px;
}

.each-slide-effect span {
  padding: 0px;
  font-size: 0px;
  background: #efefef;
  text-align: center;
}

/* If you want to allow scrolling but control overflow */
.scroll-container {
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of content */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}
